:root {
    
    --card: rgba(12, 18, 42, .72);
    --border: rgba(141, 157, 255, .18);
    --text: #edf1ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Vazirmatn', sans-serif;
}

body {
    direction: rtl;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    background: #050816;
}

.bg-image {
    position: fixed;
    inset: 0;
    background: url('assets/space-bg.jpg') center/cover no-repeat;
}

.overlay {
    position: fixed;
    inset: 0;
    background: linear-gradient(90deg, rgba(3, 6, 17, 0.408), rgba(3, 6, 32, 0.342));
}

.grid {
    position: fixed;
    inset: 0;
    background-image:
        linear-gradient(rgba(255, 255, 255, .05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, .05) 1px, transparent 1px);
    background-size: 40px 40px;
    opacity: .18;
}

.login-page {
    position: relative;
    z-index: 5;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 80px;
}

.login-card {
    width: 520px;
    padding: 48px 36px;
    border-radius: 34px;
    border: 1px solid var(--border);
    background: var(--card);
    backdrop-filter: blur(24px);
    box-shadow: 0 0 50px rgba(0, 0, 0, .32);
}

.logo {
    text-align: center;
    margin-bottom: 18px;
    font-size: 28px;
    color: #8ea2ff;
}

.login-card h1 {
    text-align: center;
    color: var(--text);
    font-size: 2.6rem;
    font-weight: 800;
    margin-bottom: 38px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.input-box {
    height: 66px;
    border-radius: 18px;
    background: rgba(8, 13, 30, .9);
    border: 1px solid rgba(255, 255, 255, .08);
    display: flex;
    align-items: center;
    padding: 0 20px;
    transition: .3s;
}

.input-box:focus-within {
    border-color: #5d79ff;
    box-shadow: 0 0 24px rgba(79, 111, 255, .25);
}

.input-box input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
}

.input-box input::placeholder {
    color: #d4dcff;
}

.input-box i {
    color: #8ea2ff;
}

.remember-row {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    color: #edf1ff;
}

.primary-btn,
.secondary-btn {
    height: 60px;
    border: none;
    border-radius: 18px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
}

.primary-btn {
    background: linear-gradient(180deg, #6482ff, #365cff);
    color: white;
    box-shadow: 0 0 24px rgba(79, 111, 255, .35);
}

.primary-btn:hover {
    transform: translateY(-3px);
}

.secondary-btn {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .08);
    color: white;
}

.forgot-link {
    text-align: center;
    text-decoration: none;
    color: #edf1ff;
}

.socials {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 16px;

}

.socials a {
    text-decoration: none;
    width: 64px;
    height: 64px;
    border-radius: 20px;
    background: rgba(8, 13, 30, .92);
    border: 1px solid rgba(255, 255, 255, .08);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: white;
    transition: .3s;
}

.socials a:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 24px rgba(79, 111, 255, .32);
}